{% include './partials/header.liquid', title: 'DDA Publicaties' %}


<a href="/publicaties">Ga terug</a>


<section id="titel-pagina" style="view-transition-name: post-{{ publication.id }}">
    <h1> {{ publication.title }} </h1>
    <p>  {{ publication.intro }} </p>
</section>

<section id="content-publicatie">
    {{ publication.content }}
</section>


<section class="comment-section">
    {% assign messageszero = messages %}
    {% if messageszero.size < 1 %}
        <div class="empty-state" id="empty">
            <p>Er zijn hier nog geen reacties</p>
        </div>
    {% else %}
    {% for message in messageszero %}
        <div class="comment-1">
            <div class="name">
                <h4>{{ message.from | replace: "Miel_", "" }}</h4>
            </div>
            <div class="emoji">
                {% if message.emoji == 'smile' %}😊{% endif %}
                {% if message.emoji == 'surprise' %}😲{% endif %}
                {% if message.emoji == 'tired' %}😩{% endif %}
                {% if message.emoji == 'cry' %}😢{% endif %}
            </div>
            <div class="comment">
                <p>{{ message.text }}</p>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</section>

{% if send %}
    <section class="send">
        <h3>Your message has been send</h3>
        {% comment %} success state {% endcomment %}
    </section>
{% else %}
<section class="type">
    <form class="form-element" action="/publicatie/{{ publication.id }}" method="POST" data-enhanced="comment-form">
        <div class="form-elements">
            <textarea name="text" rows="12" cols="140" required class="text-area" placeholder="Reageer hier jouw mening..."></textarea>

            <input type="text" name="from" id="name" placeholder="Naam" required class="forms hide name-comment"/>

            <select name="emoji" id="emojis" required class="forms hide">
                <option value="smile">😊</option>
                <option value="tired">😩</option>
                <option value="surprise">😲</option>
                <option value="cry">😢</option>
            </select>

            <button type="submit" id="button" class="forms hide"><p>Plaats</p></button>
        </div>
    </form>
</section>
{% endif %}

<section class="loading-state" id="loading-state">
    <h2>Comment wordt geplaatst</h2>

    <div class="loading-animation">
        <svg id="text-loading" width="412" height="69" viewBox="0 0 412 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.839763 67V1.144H13.3198V56.152H46.3438V67H0.839763ZM79.0835 68.152C72.2355 68.152 66.3155 66.936 61.3235 64.504C56.3315 62.008 52.4915 58.232 49.8035 53.176C47.1795 48.12 45.8675 41.752 45.8675 34.072C45.8675 26.328 47.1795 19.96 49.8035 14.968C52.4915 9.91199 56.3315 6.168 61.3235 3.736C66.3155 1.24 72.2355 -0.00800133 79.0835 -0.00800133C85.9955 -0.00800133 91.9155 1.24 96.8435 3.736C101.836 6.168 105.644 9.91199 108.268 14.968C110.956 19.96 112.3 26.328 112.3 34.072C112.3 41.752 110.956 48.12 108.268 53.176C105.644 58.232 101.836 62.008 96.8435 64.504C91.9155 66.936 85.9955 68.152 79.0835 68.152ZM79.0835 57.592C82.4115 57.592 85.3235 57.112 87.8195 56.152C90.3795 55.192 92.5235 53.784 94.2515 51.928C95.9795 50.008 97.2915 47.672 98.1875 44.92C99.0835 42.104 99.5315 38.872 99.5315 35.224V33.112C99.5315 29.4 99.0835 26.136 98.1875 23.32C97.2915 20.504 95.9795 18.168 94.2515 16.312C92.5235 14.392 90.3795 12.952 87.8195 11.992C85.3235 11.032 82.4115 10.552 79.0835 10.552C75.7555 10.552 72.8115 11.032 70.2515 11.992C67.7555 12.952 65.6435 14.392 63.9155 16.312C62.1875 18.168 60.8755 20.504 59.9795 23.32C59.1475 26.136 58.7315 29.4 58.7315 33.112V35.224C58.7315 38.872 59.1475 42.104 59.9795 44.92C60.8755 47.672 62.1875 50.008 63.9155 51.928C65.6435 53.784 67.7555 55.192 70.2515 56.152C72.8115 57.112 75.7555 57.592 79.0835 57.592ZM111.875 67L137.507 1.144H153.251L178.979 67H165.443L160.163 52.984H130.019L124.739 67H111.875ZM133.955 42.424H156.131L149.507 24.568C149.251 23.928 148.931 23.128 148.547 22.168C148.227 21.144 147.875 20.056 147.491 18.904C147.107 17.688 146.723 16.472 146.339 15.256C145.955 14.04 145.603 12.952 145.283 11.992H144.803C144.419 13.272 143.939 14.744 143.363 16.408C142.851 18.072 142.339 19.64 141.827 21.112C141.315 22.584 140.899 23.736 140.579 24.568L133.955 42.424ZM259.807 67V1.144H272.287V67H259.807ZM283.061 67V1.144H294.965L323.093 40.024C323.413 40.408 323.797 40.952 324.245 41.656C324.693 42.296 325.109 42.936 325.493 43.576C325.877 44.216 326.133 44.728 326.261 45.112H326.741C326.741 44.216 326.741 43.352 326.741 42.52C326.741 41.688 326.741 40.856 326.741 40.024V1.144H338.741V67H326.933L298.709 27.832C298.197 27.064 297.589 26.136 296.885 25.048C296.245 23.896 295.797 23.096 295.541 22.648H295.061C295.061 23.48 295.061 24.344 295.061 25.24C295.061 26.072 295.061 26.936 295.061 27.832V67H283.061ZM379.486 68.152C369.31 68.152 361.406 65.432 355.774 59.992C350.142 54.488 347.326 45.848 347.326 34.072C347.326 26.328 348.638 19.96 351.262 14.968C353.95 9.91199 357.79 6.168 362.782 3.736C367.838 1.24 373.886 -0.00800133 380.926 -0.00800133C385.15 -0.00800133 389.118 0.471998 392.83 1.432C396.542 2.392 399.806 3.864 402.622 5.848C405.502 7.768 407.742 10.2 409.342 13.144C410.942 16.088 411.742 19.576 411.742 23.608H398.878C398.878 21.496 398.398 19.64 397.438 18.04C396.542 16.376 395.262 15 393.598 13.912C391.998 12.76 390.142 11.928 388.03 11.416C385.918 10.84 383.678 10.552 381.31 10.552C377.79 10.552 374.686 11.032 371.998 11.992C369.374 12.888 367.166 14.296 365.374 16.216C363.646 18.072 362.334 20.408 361.438 23.224C360.606 26.04 360.19 29.336 360.19 33.112V35.128C360.19 40.312 360.926 44.568 362.398 47.896C363.87 51.224 366.078 53.688 369.022 55.288C372.03 56.824 375.742 57.592 380.158 57.592C383.934 57.592 387.23 57.016 390.046 55.864C392.926 54.712 395.166 53.048 396.766 50.872C398.43 48.632 399.262 45.912 399.262 42.712V42.04H378.238V31.672H411.742V67H402.814L401.758 59.704C399.838 61.624 397.79 63.224 395.614 64.504C393.438 65.72 391.038 66.616 388.414 67.192C385.79 67.832 382.814 68.152 379.486 68.152Z" fill="#222226"/>
        </svg>
        

        <svg id="hourglass" width="60" height="72" viewBox="0 0 60 72" fill="none" xmlns="http://www.w3.org/2000/svg">

            <path id="start" d="M55.5283 9.17811C56.3388 8.98749 56.9428 8.26143 56.9428 7.39279V1.83581C56.9428 0.822135 56.1207 0 55.107 0H4.89342C3.87975 0 3.05762 0.822135 3.05762 1.83581V7.3931C3.05762 8.26174 3.6616 8.9878 4.47211 9.17842C5.02652 19.0655 10.1613 28.1264 18.4493 33.6791L21.9141 36.0002L18.4493 38.3212C10.161 43.8736 5.02621 52.9349 4.47211 62.8219C3.6616 63.0125 3.05762 63.7386 3.05762 64.6072V70.1645C3.05762 71.1782 3.87975 72.0003 4.89342 72.0003H55.107C56.1207 72.0003 56.9428 71.1782 56.9428 70.1645V64.6072C56.9428 63.7386 56.3388 63.0125 55.5283 62.8219C54.9739 52.9349 49.8392 43.8739 41.5508 38.3212L38.086 36.0002L41.5508 33.6791C49.8392 28.1264 54.9739 19.0651 55.5283 9.17811ZM6.72923 3.67161H53.2712V5.55729H6.72923V3.67161ZM53.2712 68.3284H6.72923V66.4427H53.2712V68.3284ZM33.7661 34.4749C33.2572 34.8158 32.9519 35.3876 32.9519 36.0002C32.9519 36.6127 33.2572 37.1846 33.7661 37.5254L39.5075 41.3717C46.762 46.2314 51.2842 54.1321 51.8481 62.7714H8.15229C8.71618 54.1324 13.2384 46.2317 20.4929 41.3717L26.2344 37.5254C26.7432 37.1846 27.0485 36.6127 27.0485 36.0002C27.0485 35.3876 26.7432 34.8158 26.2344 34.4749L20.4929 30.6286C13.2384 25.7686 8.71618 17.8679 8.15229 9.2289H51.8481C51.2842 17.8682 46.762 25.7686 39.5075 30.6286L33.7661 34.4749Z" fill="#364BF7"/>
        
        </svg>

    </div>
</section>
<section class="error-state" id="error-state">
    <h2>Comment wordt geplaatst</h2>
    <div class="errorstate">
        <i class="fa-solid fa-xmark"></i> <h2>De comment kon niet geplaatst worden</h2>
    </div>
</section>

<script type="module">
document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('form[data-enhanced="comment-form"]');
    const loadingState = document.getElementById('loading-state');
    const errorState = document.getElementById('error-state');

    if (form) {
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            // Show loading state
            loadingState.style.display = 'block';
            errorState.style.display = 'none';
            // laat de loading state zien tijdens het event

            const formData = new FormData(form);
            const submitButton = event.submitter;
            // variables voor het submitten van de data

            if (submitButton) {
                formData.append(submitButton.name, submitButton.value);
            }

            try {
                const response = await fetch(form.action, {
                    method: form.method,
                    body: new URLSearchParams(formData),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                });

                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    throw new Error('Niet doorgestuurd zoals verwacht');
                }
                // als het hier wordt geredirect dan verschijnt er een error
            } catch (err) {
                loadingState.style.display = 'none';
                errorState.style.display = 'block';
                console.error(err);
            }
        });
    }
});

<style>
@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

::view-transition-old(post-{{ publication.id }}) {
  animation: fade-out 0.5s linear forwards;
}

::view-transition-new(post-{{ publication.id }}) {
  animation: fade-in 0.5s linear forwards;
}
</style>

{% include './partials/footer.liquid', title: 'DDA Publicaties' %}