{% include './partials/header.liquid', title: 'DDA Publicaties' %}

<section id="titel-pagina">
    <h1> {{ publication.title }} </h1>
    <p>  {{ publication.intro }} </p>
</section>

<section id="content-publicatie">
    {{ publication.content }}
</section>


<section class="comment-section">
    {% assign messageszero = messages %}
    {% if messageszero.size < 1 %}
        <div class="empty-state" id="empty">
            <p>Er zijn hier nog geen reacties</p>
        </div>
    {% else %}
    {% for message in messageszero %}
        <div class="comment-1">
            <div class="name">
                <h4>{{ message.from | replace: "Miel_", "" }}</h4>
            </div>
            <div class="emoji">
                {% if message.emoji == 'smile' %}😊{% endif %}
                {% if message.emoji == 'surprise' %}😲{% endif %}
                {% if message.emoji == 'tired' %}😩{% endif %}
                {% if message.emoji == 'cry' %}😢{% endif %}
            </div>
            <div class="comment">
                <p>{{ message.text }}</p>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</section>

<section class="type">
    <form class="form-element" action="/publicatie/{{ publication.id }}" method="POST">
        <div class="form-elements">
            <textarea name="text" rows="12" cols="140" required class="text-area" placeholder="Reageer hier jouw mening..."></textarea>

            <input type="text" name="from" id="name" placeholder="Naam" required class="forms hide name-comment"/>

            <select name="emoji" id="emojis" required class="forms hide">
                <option value="smile">😊</option>
                <option value="tired">😩</option>
                <option value="surprise">😲</option>
                <option value="cry">😢</option>
            </select>

            <button type="submit" id="button" class="forms hide"><p>Plaats</p></button>
        </div>
    </form>
</section>


{% include './partials/footer.liquid', title: 'DDA Publicaties' %}