{% include './partials/header.liquid', title: 'DDA Publicaties' %}


<section id="introductie">
    <h1>Publciaties</h1>
    <p>Om er voor te zorgen dat ook jij op de hoogte blijft van het laatste nieuws en interessante opinies met betrekking tot onze branche en digitale innovaties, delen we hier alle content die we of zelf hebben gecreëerd, bijvoorbeeld met input van onze leden, of verkregen hebben via één van onze partners.</p>
</section>

<section id="publicatie">
    <div id="mediabalk">
        <form>
            <input type="search" id="form-search"/>
        </form>

        <div id="buttonstopic">
            <button class="button-filter" type="button" data-topic="Column">Column</button>
            <button class="button-filter" type="button" data-topic="Awards">Awards</button>
            <button class="button-filter" type="button" data-topic="DDA nieuws">DDA nieuws</button>
            <button class="button-filter" type="button" data-topic="Algemeen">Algemeen</button>
            <button class="button-filter" type="button" data-topic="Digitale Inclusie">Digitale Inclusie</button>
            <button class="button-filter" type="button" data-topic="Branche">Branche</button>
            <button class="button-filter" type="button" data-topic="Belangenhartiging">Belangenhartiging</button>
        </div>

        {% comment %} ideal state {% endcomment %}
         {% comment %} empty state {% endcomment %}
    </div>
    {% if contentLoaded %}
    <div id="publicatie-filter">
        {% comment %} alle gefilterde topics komen hier {% endcomment %}
    </div>
    {% else %}
    <div>
        {% for publication in publications %}
            <article id="publication">
                {% if publication.photo != 'none' %}   
                <picture style="view-transition-name: post-img-{{ publication.id }}">
                    <source
                        type="image/avif" 
                        srcset="
                            https://fdnd-agency.directus.app/assets/{{ publication.photo }}?format=avif&width=200 200w,
                            https://fdnd-agency.directus.app/assets/{{ publication.photo }}?format=avif&width=300 300w,
                            https://fdnd-agency.directus.app/assets/{{ publication.photo }}?format=avif&width=400 400w,
                            https://fdnd-agency.directus.app/assets/{{ publication.photo }}?format=avif&width=500 500w"
                        sizes="(max-width: 500px) 100vw, 500px"
                    />
                    <img 
                        src="https://fdnd-agency.directus.app/assets/{{ publication.photo }}?format=png&width=400"
                        alt=""
                        width="400"
                        height="300"
                        class="publication-photo"
                    >
                </picture>
                {% else %}
                <img src="https://static.vecteezy.com/system/resources/previews/003/611/119/non_2x/do-not-record-images-no-photography-sign-free-vector.jpg" width="{{ publication.photo.width }}" height="{{ publication.photo.height }}" alt="geen foto">
                {% endif %}

                <p id="publication-topic"> {{ publication.topic }} </p>

                <h2 id="publication-title"> {{ publication.title }} </h2>
                <p id="publication-intro"> {{ publication.intro }} </p>

                <a style="view-transition-name: post-{{ publication.id }}" href="/publicatie/{{ publication.id }}">
                Visit
                </a>
            </article>
        {% endfor %}
    </div>
    {% endif %}

</section>


{% include './partials/footer.liquid', title: 'DDA Publicaties' %}