
{% include './partials/header.liquid', title: 'DDA Publicaties' %}

<section id="introductie">
    <h1>Publciaties</h1>
    <p>Om er voor te zorgen dat ook jij op de hoogte blijft van het laatste nieuws en interessante opinies met betrekking tot onze branche en digitale innovaties, delen we hier alle content die we of zelf hebben gecreëerd, bijvoorbeeld met input van onze leden, of verkregen hebben via één van onze partners.</p>
</section>

<section class="publicaties">
    <div class="mediabalk">
        <form>
            <input type="search" id="form-search"/>
        </form>

        <form>
            <button>Column</button>
            <button>Awards</button>
            <button>DDA nieuws</button>
            <button>Algemeen</button>
            <button>Digitale Inclusie</button>
            <button>Branche</button>
            <button>Belangenhartiging</button>
        </form>
    </div>
    <div>
        {% for publication in publications %}
            <article>
                {% comment %} een height toegevoegd aan de HTML zodat je geen layout shift krijgt {% endcomment %}
                <picture>
                    {% if publication.photo == 'none' %}
                    <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ publication.photo }}?format=avif">
                    <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ publication.photo }}?format=webp">
                    
                    <img src="https://fdnd-agency.directus.app/assets/{{ publication.photo }}" alt="publicatie-foto" height="100p">
                    {% else %}
                    <source type="image/avif" srcset="https://media.istockphoto.com/id/887464786/vector/no-cameras-allowed-sign-flat-icon-in-red-crossed-out-circle-vector.jpg?s=612x612&w=0&k=20&c=LVkPMBiZas8zxBPmhEApCv3UiYjcbYZJsO-CVQjAJeU=">
                    <source type="image/webp" srcset="https://media.istockphoto.com/id/887464786/vector/no-cameras-allowed-sign-flat-icon-in-red-crossed-out-circle-vector.jpg?s=612x612&w=0&k=20&c=LVkPMBiZas8zxBPmhEApCv3UiYjcbYZJsO-CVQjAJeU=">
                    <img src="https://media.istockphoto.com/id/887464786/vector/no-cameras-allowed-sign-flat-icon-in-red-crossed-out-circle-vector.jpg?s=612x612&w=0&k=20&c=LVkPMBiZas8zxBPmhEApCv3UiYjcbYZJsO-CVQjAJeU=" alt="publicatie-foto" height="100p">
                    {% endif %}
                </picture>

                <h2> {{ publication.title }} </h2>
                <p> {{ publication.intro }} </p>

                <a href="/publicatie/{{ publication.id }}">Visit</a>


            </article>
        {% endfor %}
    </div>


</section>

{% include './partials/footer.liquid', title: 'DDA Publicaties' %}